.carousel {
	@apply bg-white;
}
.card-image-wrapper {
	@apply relative block w-full z-0;
	height: 0;
	padding-bottom: 100%;
}

.card-image-wrapper.thumbnail {
	padding-bottom: 100%;
}

.card-image-wrapper .card-image-inner {
	@apply flex flex-1 absolute w-full h-full items-center justify-center;
}

.card-image-wrapper .card-image-inner img {
	height: auto;
	max-width: 90%;
	max-height: 90%;
	width: auto;
}

.metadata {
	white-space: pre-wrap;
}

.metafield-wrapper {
	@apply flex flex-wrap py-1 font-mono;
}

.metafield-wrapper .metafield-label {
	@apply font-bold;
}

.metafield-wrapper .ink-chip {
	@apply text-xs px-2 py-1 rounded cursor-pointer border;
}

.metafield-wrapper .ink-chip:hover {
	@apply underline bg-opacity-75;
}

.metafield-wrapper .dark-option:hover {
	color: white !important;
}

.metafield-wrapper .light-option:hover {
	color: black !important;
}

/* .close-icon:hover {
  fill: var(--global-color); 
} */

/* .fullWidthImage {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
} */
