@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-burgundy: rgb(145, 78, 114);
	--color-aqua: rgb(94, 200, 229);
	--color-blue: rgb(0, 120, 191);
	--color-bright-red: rgb(241, 80, 96);
	--color-brown: rgb(146, 95, 82);
	--color-copper: rgb(189, 100, 57);
	--color-coral: rgb(255, 142, 145);
	--color-cornflower: rgb(98, 168, 229);
	--color-flat-gold: rgb(187, 139, 65);
	--color-fluorescent-orange: rgb(255, 116, 119);
	--color-fluorescent-pink: rgb(255, 72, 176);
	--color-fluorescent-red: rgb(255, 76, 101);
	--color-fluorescent-yellow: rgb(247, 255, 0);
	--color-green: rgb(0, 169, 92);
	--color-kelly-green: rgb(103, 179, 70);
	--color-light-gray: rgb(136, 137, 138);
	--color-light-teal: rgb(0, 157, 165);
	--color-metallic-gold: rgb(172, 147, 110);
	--color-mint: rgb(130, 216, 213);
	--color-moss: rgb(104, 114, 77);
	--color-orange: rgb(255, 108, 47);
	--color-orchid: rgb(187, 118, 207);
	--color-red: rgb(255 102 94);
	--color-riso-federal-blue: rgb(61, 85, 136);
	--color-scarlet: rgb(246, 80, 88);
	--color-sunflower: rgb(255, 181, 17);
	--color-yellow: rgb(255, 232, 0);
	--color-hunter-green: rgb(64, 112, 96);
	--color-teal: rgb(0, 131, 138);
	--color-purple: rgb(118, 91, 167);
	--color-white: rgb(252, 252, 252);
	--color-black: rgb(0, 0, 0);
	--color-natural: rgb(251, 247, 239);
}
